html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: small;
}

#map {
  height: 500px;
  width: 100%;
}

.layer-switcher button:focus{
  outline: 0;
}

.layer-switcher{
  top: 1.5em;
}
